body {
	background-color: #008000;
	font-family: Arial;
}

header {
	border: 2px solid #00FF00;
	width: 600px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #7CFC00;
	background-image: url("http://porkforge.mardby.se/skins/common/images/wiki.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: 20px;

}

nav {
	border: 2px solid #00FF00;
	width: 600px;
	margin-bottom: 5px;
	text-align: center;
	background-color: #7CFC00;
}

.content {
	border: 2px solid #00FF00;
	width: 560px;
	margin-bottom: 5px;
	padding: 10px 20px;
	background-color: #ADFF2F;
}

footer {
	border: 2px solid #00FF00;
	width: 600px;
	text-align: center;
	background-color: #7CFC00;
}

nav ul li {
	display: inline;
}

nav ul li a
{
	text-decoration: none;
	padding: 5px;
	border: 2px solid DarkGreen ;
	color: white;
	background-color: Lime;
}


nav ul li a.highlight
{
	color: White;
	background-color: #ADFF2F;
	font-weight: bold;
}

div.post
{
	border: 1px solid #00FF00;
	padding: 5px;
	margin-bottom: 10px;
}

div.post h3
{
	color: black;
	margin-bottom: 5px;
	margin-top: 5px;
}

div.post a
{
	color: DarkGreen ;
}

p.author
{
	margin-bottom: 0px;
	margin-top: 5px;
}

p.date
{
	margin-top: 0px;
	margin-bottom: 5px;
}

p.message
{
	border-top: 1px solid #00FF00;
	padding-top: 5px;
	margin-top: 5px;
}
